.nav {
  box-shadow: 0 0 5px #000;
}
.logo {
  width: 40%;
  padding-right: 1.5rem;
}
.nav_icons {
  display: flex;
  align-items: center;
}

.nav_icons > span {
  padding-right: 1.5rem;
}

.navbar-nav {
  width: 80%;
}

.login_btn {
  margin-right: 1%;
}
