.top {
  height: 8vh;
  background-color: fff;
  box-shadow: 0 0 3px #bdbdbd;
  padding-top: 15px;
}
.wrapper {
  display: flex;
}
.logo {
  height: 35%;
  padding-left: 5%;
}

.faicon {
  font-size: 2rem;
  margin-left: -55%;
  margin-top: -2%;
}
.searchbar {
  background-color: blue;
}
.leftcorner {
}
.profile_pic_main {
  border-radius: 50%;
  height: 60px;
}
